<!-- Start Main -->
<!-- Start PRODUCT -->
<div class="product-text">
    Reset your password
</div>
<!-- partial:index.partial.html -->
<div class="searchProduct">
    <input type="password" id="newPass" placeholder="Write your new password" class="search__input">
</div>
<div class="searchProduct">
    <input type="password" id="confirmPass" placeholder="Write your confirm password" class="search__input">
</div>

<div class="searchProduct" style="width: 120px; ">
    <button type="submit" class="search__button" onclick="resetPassword()" >Send</button>
</div>

<!-- partial -->
<div class="product-form container">
    <div style="height: 300px;"></div>
</div>
<!-- End PRODUCT -->
<!-- End Main -->